streamlit
spacy
PyPDF2
pdfminer.six
language-tool-python
pandas
numpy<2.0.0
scikit-learn
fpdf
docx2txt
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz#egg=en_core_web_sm